form {
    width: 60%;
    max-width: 600px; /* Ajustez la largeur maximale selon vos besoins */
}

.Bouttons {
    display: flex;
    margin-top: 20px;
    width: 10px;
    height: 50px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-end;
}

/* Facultatif : Ajustez la largeur des labels pour une meilleure présentation */
form label {
    width: 70%; /* Ajustez la largeur selon vos besoins */
    display: inline-block;
    margin-right: 10px;
}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    flex-wrap: wrap!important;
    flex-direction: column;
    align-content: center;
}